@import "./src/common/variables.scss";
@import "./src/common/mixin";


.login_all {
	display: flex;
	margin: auto;
	justify-content: center;
	text-align: center;
	height: 85vh;
	background-color: #fafafa;
}

.login_side_img {
	justify-content: space-around;
	width: 455px;
	height: 620px;
	align-items: center;
	@include fontSize("large");
	margin: auto 0 auto 0;
	position: relative;
	box-sizing: border-box;

	.login_pic1 {
		width: 455px;
		height: 620px;
	}
}


.slick-slider {
	left: 151px;
	bottom: 523px;
}

// .login_side_img > .carousel {
// 	position: absolute;
// 	top: 101px;
// 	left: 151px;
// 	width: 240px;
// 	height: 427px;
// 	opacity: 1;
// }

.login_main {
	width: 350px;
	margin: auto 0 auto 0;
	.login_content{
		width: 350px;
		height: 381px;
		border: 1px solid $instaGray;
		background-color: #ffffff;
		margin-top: 30px;
		margin-bottom: 10px;
		& > img {
			width: 175px;
			height: 65px;
			margin: 20px;
		}
	}
	.login_login_user{
		display: flex;
		width: 258px;
		height: 36px;
		margin: auto;
		background-color: #fafafa;
		border-radius: 5px;
		border: 1px solid $instaLightGray;
		color: #8e8e8e;
		outline: none;
		@include fontSize("normal");

		& > label {
			height: 36px;
			width: 240px;
			line-height: 20px;
			margin-left: 10px;
			@include fontSize("small");
			pointer-events: none;
			position: absolute;
			// overflow: hidden;
		}
	}
}


// .login_login_user > input:focus-visible {
// 	outline-offset: 0px;
// }


// .login_login_user > label::after {
// 	content: "";
// 	position: absolute;
// 	left: 0px;
// 	bottom: 0px;
// 	height: 100%;
// 	width: 100%;
// 	border-bottom: 3px solid blue;
// 	transform: translateX(-100%);
// 	transition: all 0.3s ease;
// }

.login_content_username {
	position: absolute;
	left: 0;
	bottom: 10px;
	@include fontSize("normal");
	// transition: trnasform all 0.3s ease;
}

.login_login_user > input {
	@include fontSize("normal");
	height: 14px;
	width: 220px;
	padding: 10px 0 0 8px;
	margin: 8px 0 0 2px;
	border: none;
	outline: none;
	background-color: #fafafa;
}

.login_login_user input:focus + .login_label_username .login_content_username,
.login_login_user input:valid + .login_label_username .login_content_username {
	transform: translateY(-45%);
	@include fontSize("small");
}

// .login_login_user input:focus + .login_label_username::after,
// .login_login_user input:valid + .login_label_username::after {
// 	transform: translateX(0%);
// }

.login_login_pwd {
	display: flex;
	width: 258px;
	height: 36px;
	margin: 5px auto auto auto;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid $instaLightGray;
	color: #8e8e8e;
	outline: none;
	@include fontSize("normal");
}

// .login_login_pwd > input:focus-visible {
// 	outline-offset: 0px;
// }

.login_login_pwd > label {
	justify-content: space-between;
	width: 130px;
	height: 36px;
	line-height: 20px;
	margin-left: 10px;
	@include fontSize("small");
	pointer-events: none;
	position: absolute;
	// overflow: hidden;
}

// .login_login_pwd > label::after {
// 	content: "";
// 	position: absolute;
// 	left: 0px;
// 	bottom: 0px;
// 	height: 100%;
// 	width: 100%;
// 	border-bottom: 3px solid blue;
// 	transform: translateX(-100%);
// }

.login_content_pwd {
	position: absolute;
	left: 0;
	bottom: 10px;
	@include fontSize("normal");
	// transition: trnasform all 0.3s ease;
}

.login_login_pwd > input {
	height: 5px;
	width: 130px;
	padding: 10px 0 0 0;
	margin: 14px 0 0 10px;
	border: none;
	outline: none;
	background-color: #fafafa;
	font-size: 11px;
	letter-spacing: 1px;
}

.login_check_pwd {
	line-height: 35px;
	margin-left: 10px;
}

.login_login_pwd input:focus + .login_label_pwd .login_content_pwd,
.login_login_pwd input:valid + .login_label_pwd .login_content_pwd {
	transform: translateY(-20%);
	font-size: 6px;
}

// .login_login_pwd input:focus + .login_label_pwd::after,
// .login_login_pwd input:valid + .login_label_pwd::after {
// 	transform: translateX(0%);
// }

.login_check_pwd > button {
	border: none;
	background-color: #fafafa;
	font-weight: bold;
	@include fontSize("large");
	color: #262626;
	cursor: pointer;
	padding-left: 10px;
}

.login_login_btn > button {
	width: 268px;
	height: 36px;
	margin-top: 10px;
	color: #ffffff;
	background-color: #b2dffc;
	border: transparent;
	border-radius: 5px;
	font-weight: bold;
}

.login_bar {
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 13px;
	font-weight: 600;
	color: #8e8e8e;

}

.login_bar > .left {
	width: 110px;
	background-color: $instaGray;
	height: 1px;
	margin: 10px 10px 10px 40px;
}

.login_bar > .right {
	width: 110px;
	background-color: $instaGray;
	height: 1px;
	margin: 10px 40px 10px 10px;
}

.login_login_fb > span {
	font-weight: bold;
	cursor: pointer;
}

.login_login_fb > span > a {
	color: #385185;
	margin-left: 5px;
	@include fontSize("large");
	font-weight: 600;
	outline: none;
}

.login_login_fb > span > img {
	height: 20px;
	width: 20px;
}

.login_content > .login_findPw > .link > button {
	text-align: center;
	background-color: transparent;
	border: transparent;
	margin-top: 15px;
	color: #00376b;
	@include fontSize("normal");
	cursor: pointer;
}

.login_signup {
	width: 350px;
	height: 63px;
	border: 1px solid $instaGray;
	background-color: #ffffff;
	@include fontSize("large");
	color: #262626;
	line-height: 63px;
}

.login_signup > .link > span {
	color: $instaBlue;
	font-weight: 600;
	cursor: pointer;
}

.login_download {
	width: 350px;
	height: 100px;
}

.login_download > span > a > img {
	width: 136px;
	height: 40px;
	margin-left: 10px;
	cursor: pointer;
}

.login_download > p {
	@include fontSize("large");
	color: #262626;
	margin: 20px 0 15px 0;
}

@include mobile {
	.login_main {
		width: 100%;
	}
	.side_img {
		display: none;
	}
}
