@import "./src/common/_variables.scss";
@import "./src/common/mixin";

.signup_main {
	background-color: #fafafa;
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;
	margin: auto;
	justify-content: center;
	text-align: center;
	height: 85vh;
}

.signup_content {
	width: 350px;
	margin: auto 0px auto 0px;
}

.signup_signup {
	width: 350px;
	height: 489px;
	border: 1px solid $instaGray;
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 10px;
}

.signup_signup > img {
	width: 175px;
	height: 65px;
	margin: 20px 20px 10px 20px;
}

.signup_header {
	color: #8e8e8e;
	font-weight: 600;
	font-size: 17px;
	margin: 0px 40px 15px 40px;
}

// .fb > span {
// 	font-weight: bold;
// 	cursor: pointer;
// }

.signup_fb > button > img {
	width: 16px;
	height: 16px;
}

.signup_fb > button {
	width: 271px;
	height: 31px;
	color: #ffffff;
	background-color: $instaBlue;
	border: transparent;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.signup_fb > button > a {
	color: #ffffff;
	margin-left: 5px;
	@include fontSize("large");
	font-weight: 600;
	outline: none;
}

.signup_bar {
	display: flex;
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 600;
	color: #8e8e8e;
}

.signup_bar > .left {
	width: 110px;
	background-color: $instaGray;
	height: 0.1px;
	margin: 10px 10px 20px 40px;
}

.signup_bar > .right {
	width: 110px;
	background-color: $instaGray;
	height: 0.1px;
	margin: 10px 40px 10px 10px;
}

.signup_signup > .signup_form > div {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	width: 268px;
	height: 36px;
	margin: 6px auto;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid $instaLightGray;
	color: #8e8e8e;
	outline: none;
	@include fontSize("normal");
}

.signup_label_email_form > div {
	display: flex;
	height: 22px;
	width: 38px;
	margin-left: 7px;
}

.signup_label_email {
	display: flex;
	width: 228px;
	height: 36px;
}

.signup_label_name_form > div {
	display: flex;
	height: 22px;
	width: 38px;
	margin-left: 7px;
}

.signup_label_name {
	display: flex;
	width: 228px;
	height: 36px;
}

.signup_label_username_form > div {
	display: flex;
	height: 22px;
	width: 38px;
	margin-left: 7px;
}

.signup_label_username {
	display: flex;
	width: 200px;
	height: 36px;
}

.signup_username_check_btn {
	background-color: #fafafa;
	border: none;
	margin-left: 3px;
}

.signup_label_pwd_form > div {
	display: flex;
	height: 22px;
	width: 133px;
	margin-left: 7px;
}

.signup_label_pwd {
	display: flex;
	width: 127px;
	height: 36px;
}

.signup_pwd_check {
	border: none;
	line-height: 25px;
	background-color: #fafafa;
	font-weight: bold;
	@include fontSize("large");
	color: #262626;
	cursor: pointer;
	padding-left: 10px;
}

.signup_signup > .signup_form > div > label > span {
	height: 30px;
	line-height: 20px;
	margin-left: 10px;
	@include fontSize("small");
	overflow: hidden;
	pointer-events: none;
	position: absolute;
}

.signup_signup > .signup_form > div > label > input {
	background-color: #fafafa;
	border: none;
	outline: none;
	width: 226px;
	height: 30px;
	margin: 5px 0px 0px 5px;
}

.signup_signup > .signup_form > button {
	width: 271px;
	height: 30px;
	margin-top: 10px;
	color: #ffffff;
	background-color: #b2dffc;
	border: transparent;
	border-radius: 5px;
	font-weight: bold;
}

.signup_login {
	width: 350px;
	height: 63px;
	border: 1px solid $instaGray;
	background-color: #ffffff;
	@include fontSize("large");
	color: #262626;
	line-height: 63px;
}

.signup_login > .link > span {
	color: $instaBlue;
	font-weight: 400;
	cursor: pointer;
}

.signup_download {
	width: 350px;
	height: 100px;
}

.signup_download > span > a > img {
	width: 136px;
	height: 40px;
	margin-left: 10px;
	cursor: pointer;
}

.signup_download > p {
	@include fontSize("large");
	color: #262626;
	margin: 20px 0px 20px 0px;
}
