@import "./src/common/_variables.scss";

@mixin fontSize($size) {
	@if $size == "small" {
		font-size: 10px;
	} @else if $size == "large" {
		font-size: 14px;
	} @else {
		font-size: 12px;
	}
}

body {
	background-color: #fafafa;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.main {
	display: flex;
	margin: auto;
	justify-content: center;
	text-align: center;
	height: 85vh;
}

.center {
	width: 350px;
	margin: auto 0px auto 0px;
}

.content {
	width: 350px;
	height: 489px;
	border: 1px solid $instaGray;
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 10px;
}

.content > img {
	width: 175px;
	height: 65px;
	margin: 20px 20px 10px 20px;
}

.intro {
	color: #8e8e8e;
	font-weight: 600;
	font-size: 17px;
	margin: 0px 40px 10px 40px;
}

// .fb > span {
// 	font-weight: bold;
// 	cursor: pointer;
// }

.fb > button > img {
	width: 16px;
	height: 16px;
}

.fb > button {
	width: 271px;
	height: 31px;
	color: #ffffff;
	background-color: $instaBlue;
	border: transparent;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.fb > button > a {
	color: #ffffff;
	margin-left: 5px;
	font-size: 14px;
	font-weight: 600;
	outline: none;
}

.line {
	display: flex;
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 600;
	color: #8e8e8e;
}

.line > .left {
	width: 110px;
	background-color: $instaGray;
	height: 0.1px;
	margin: 10px 10px 10px 40px;
}

.line > .right {
	width: 110px;
	background-color: $instaGray;
	height: 0.1px;
	margin: 10px 40px 10px 10px;
}

.content > form > input {
	width: 268px;
	height: 36px;
	margin: 3px;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid $instaLightGray;
	color: #8e8e8e;
	outline: none;
	font-size: 12px;
}

.content > form > input:focus {
	padding: 0px 0px 14px 8px;
	height: 22px;
}

.content > form > button {
	width: 271px;
	height: 30px;
	margin-top: 10px;
	color: #ffffff;
	background-color: $instaBlue;
	border: transparent;
	border-radius: 5px;
	font-weight: bold;
}

.signup {
	width: 350px;
	height: 63px;
	border: 1px solid $instaGray;
	background-color: #ffffff;
	font-size: 14px;
	color: #262626;
	line-height: 63px;
}

.signup > span {
	color: $instaBlue;
	font-weight: 400;
	cursor: pointer;
}

.download {
	width: 350px;
	height: 100px;
}

.download > span > a > img {
	width: 136px;
	height: 40px;
	margin-left: 10px;
	cursor: pointer;
}

.download > p {
	font-size: 14px;
	color: #262626;
	margin: 20px 0px 15px 0px;
}

.thd > select {
	border: transparent;
	color: $instaLightGray;
	margin-right: 10px;
}
