@import "../../../common/variables";
@import "../../../common/mixin";

.postDetail_background {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

	.postDetail_exit {
		color: $instaWhite;
		position: absolute;
		bottom: 100;
		right: 0;
		padding: 10px;
		cursor: pointer;
		z-index: 1000;
	}

	.postDetail_container {
		display: flex;
		margin: 20px auto auto auto ;
		width: 70vw;
		height: 93vh;
		justify-content: center;

		.postDetail_leftsideBox {
			width: 65%;
			height: 100%;

				& > img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}
			}
		

		.postDetail_rightsideBox {
			width: 28%;
			height: 100%;
			background-color: $instaWhite;
			border-left: 1px solid $instaLightGray;

			.postDetail_header {
				display: flex;
				width: 100%;
				height: 50px;
				padding: 10px 0 0 0;
				margin-bottom: 10px;
				border-bottom: 1px solid $instaGray;
				
				.postDetail_header_pic {
					display: flex;
					margin-left: 14px;

					& > img {
						
						margin: auto 0;
						cursor: pointer;
						width: 32px;
						height: 32px;
					}
				}

				.postDetail_header_userId {
					justify-content: space-between;
					width: 88%;
					line-height: 50px;
					margin-left: 18px;

					& > span {
						@include fontSize("large");
						font-weight: bold;
						cursor: pointer;
					}
				}
				.postDetail_header_btn {
					margin-top: 2%;
					height: 50%;
					width: 15%;
					text-align: center;
					cursor: pointer;
				}				
			}

			.postDetail_main {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 89%;

				.postDetail_comment_list{
					height: 100%;
					overflow-x: hidden;
					position: relative;

						.postDetail_Reply_liked {

							& > img {
								margin-top: 5px;
								margin-left: 3.5px;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}

	//modal
.postDetail_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

// InputEmoji
.postDetail_postComment{
	position: relative;
	width: auto;
	height: auto;
}

.postDetail_cmt {
	display: flex;
	border-top: 1px solid $instaGray;
	position: absolute;
	bottom: 1;
	width: 100%;

	.postDetail_cmt > input{
	width: 80%;
	
	border: none;
	&:focus{
	 outline: none;
	}
	
 }
 .postDetail_submit {
	width: 60px;
	height: 30px;
	line-height: 50px;
	margin-right: 5px;
	color: $instaBlue;
	font-weight: 600;
	border: none;
	background: $instaWhite;
	cursor: pointer;
 }

 .postDetail_submitOff {
	width: 60px;
	height: 30px;
	line-height: 50px;
	margin-right: 5px;
	color: #C5E7FD;
	font-weight: 600;
	border: none;
	background: $instaWhite;
	cursor: pointer;
 }
}

@include desktop {
  .postDetail_leftsideBox {
    width: 65%;
  }

  .postDetail_rightsideBox {
    width: 30%;
  }
}

@include tablet {
  .postDetail_leftsideBox {
    width: 55%;
  }
  .postDetail_rightsideBox {
    width: 40%;
  }
}

@include mobile {
  .postDetail_leftsideBox {
    width: 50%;
  }
  .postDetail_rightsideBox {
    width: 45%;
  }
}