@import "../../../common/variables";
@import "../../../common/mixin";

.postDetail_background {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

	.postDetail_exit {
		color: $instaWhite;
		position: absolute;
		bottom: 100;
		right: 0;
		padding: 10px;
		cursor: pointer;
		z-index: 1000;
	}

	.postDetail_container {
		display: flex;
		// flex-direction: column;
		margin: 20px auto auto auto ;
		width: 100%;
		height: 95vh;
		padding: 1% 3%;
		justify-content: center;
		box-sizing: border-box;

		.postDetail_leftsideBox {
			width: 1250px;
			// width: 60%;
			height: 100%;
			border-radius: 10px;

				& > img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}
			}
		

		.postDetail_rightsideBox {
			width: 485px;
			// width: 25%;
			height: 100%;
			background-color: $instaWhite;
			border-left: 1px solid $instaLightGray;

			.postDetail_header {
				display: flex;
				width: 100%;
				height: 50px;
				padding: 10px 0 0 0;
				margin-bottom: 10px;
				border-bottom: 1px solid $instaGray;
				
				.postDetail_header_pic {
					display: flex;
					margin-left: 14px;

					& > img {
						margin: auto 0;
						cursor: pointer;
						width: 32px;
						height: 32px;
					}
				}

				.postDetail_header_userId {
					justify-content: space-between;
					width: 88%;
					line-height: 50px;
					margin-left: 18px;

					& > span {
						@include fontSize("large");
						font-weight: bold;
						cursor: pointer;
					}
				}
				.postDetail_header_btn {
					margin-top: 2%;
					height: 50%;
					width: 15%;
					text-align: center;
					cursor: pointer;
				}				
			}

			.postDetail_main {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 89%;

				.postDetail_comment_list{
					height: 100%;
					overflow-x: hidden;
					position: relative;
					-ms-overflow-style: none;
					scrollbar-width:none;

						.postDetail_Reply_liked {
							& > img {
								margin-top: 5px;
								margin-left: 3.5px;
								cursor: pointer;
							}
						}
					}

				.postDetail_comment_list::-webkit-scrollbar {
					display:none; /* Chrome , Safari , Opera */
				}
				}
			}
		}
	}


	// pagination
	.postDetail_commentMore{
		height: 40px;
		display: flex;
		margin-top: 5px;	

		& > button {
			background: transparent;
			border: none;
			margin: auto;
		}
	}

	//modal
.postDetail_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

// InputEmoji
.postDetail_postComment{
	position: relative;
	width: auto;
	height: auto;
}

.postDetail_cmt {
	display: flex;
	border-top: 1px solid $instaGray;
	position: absolute;
	bottom: 1;
	width: 100%;

	.postDetail_cmt > input{
	width: 80%;
	
	border: none;
	&:focus{
	 outline: none;
	}
	
 }
 .postDetail_submit {
	width: 60px;
	height: 30px;
	line-height: 50px;
	margin-right: 5px;
	color: $instaBlue;
	font-weight: 600;
	border: none;
	background: $instaWhite;
	cursor: pointer;
 }

 .postDetail_submitOff {
	width: 60px;
	height: 30px;
	line-height: 50px;
	margin-right: 5px;
	color: #C5E7FD;
	font-weight: 600;
	border: none;
	background: $instaWhite;
	cursor: pointer;
 }
}

//반응형 사이즈
@include desktop {

	.postDetail_container {
		border: 2px solid red;
		padding: 10%;
	}
}

@include tablet {
	.postDetail_background {
		.postDetail_container {
			// height: auto;
			border: 2px solid blue;		
			padding: 30% 10%;
		}
	}
	
}

@include mobile {
	.postDetail_container {
		// height: auto;
		border: 2px solid green;		
		padding: 60%;

		.postDetail_leftsideBox {
			flex: 1;
			width: 100%;
			height: 100%;
			border: none;
			margin-top: 10px;

			& > img {
				object-fit: cover;
			}
		}

		.postDetail_rightsideBox {
			border: none;
			width: 95%;
			margin-bottom: 10px;

			.postDetail_header{
				display: none;
			}
			.postDetail_main{
				background: $backgroundGray;
				padding-bottom: 15px;
				.postDetail_comment_list{
					display: none;
				}
			}
		}
	}
}