@import "../../../common/variables";
@import "../../../common/mixin";

.profile_modal_container {
  left: 0;
  width: 97vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
	top: 50%;
	transform: translateY(-50%);

	.postDetailComment_modal_modal {
		width: 400px;
		height: 145px;
		border: 1px solid $instaGray;
		border-radius: 10px;
		z-index: 100;
		background-color: $instaWhite;
		cursor: pointer;
		border: 3px solid blue;

		& > div {
			border-bottom: 1px solid $instaGray;
			height: 48px;
			line-height: 48px;
			@include fontSize("large");
			color: $instaMenuBlack;
		}
    & > div:nth-child(1) {
			color: $instaRed;
			font-weight: 700;
		}

		& > div:nth-child(2) {
			color: $instaRed;
			font-weight: 700;
		}

		& > div:last-child {
			border: none;
		}	
	}

	.postDetailComment_others_modal {
		width: 400px;
		height: 96px;
		border: 1px solid $instaGray;
		border-radius: 10px;
		z-index: 100;
		background-color: $instaWhite;
		cursor: pointer;
		border: 3px solid red;

		& > div {
			border-bottom: 1px solid $instaGray;
			height: 48px;
			line-height: 48px;
			@include fontSize("large");
			color: $instaMenuBlack;
		}
    & > div:nth-child(1) {
			color: $instaRed;
			font-weight: 700;
		}

    & > div:last-child {
      border: none;
    }
  }
}

.postDetailComment_modal_overlay {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;

}

@include tablet {
	.profile_modal_container {
	.postDetailComment_modal_modal {
		border: 3px solid skyblue;
		transform: translateY(-40%);
	}
	.postDetailComment_others_modal {
		border: 3px solid green;
		transform: translateY(-50%);
	}
}
}