@import "../../../common/variables";
@import "../../../common/mixin";

.profile_modal_container {
	left: 0;
	width: 97vw;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 100;
	position: fixed;
}

.profile_modalBox {
	width: 400px;
	max-height: 400px;
	min-height: 200px;
	border: 1px solid $instaGray;
	border-radius: 15px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
	position: absolute;
	background: $instaWhite;
	margin: 20px;
	overflow: hidden;
}
