@import "../../../common/variables";
@import "../../../common/mixin";

.post_cards{
 width: 615px;
 display: flex;
 background: $instaWhite;
 @include fontSize('large');
 margin-bottom: 30px;
}

.post_card{
 border: 1px solid $instaGray;
 width: 615px;
 min-width: 485px;
 display: flex;
}



.profile_img {
 display: flex;
 justify-content: space-between;

 & > div {
  margin-top: 10px;
  @include fontSize('large');
  font-weight: bold;
  color: $instaMenuBlack;
 }

 .post_userBox{
  display: flex;

  .post_user_id {
    @include fontSize('large');
    font-weight: bold;
    color: $instaMenuBlack;
    cursor: pointer;
    line-height: 35px;
   }
   
   .post_user_image {
    width: 32px;
    height: 32px;
    border-radius: 30px;
    margin: 3px 15px 10px 15px;
   }
}
}

//포스트 아이디 댓글 아이디 모두 글씨 style적용

.profile_img_dot{
 cursor: pointer;
 margin-right: 20px;
 justify-content: space-between;
 line-height: 35px;
 & >img {
  width: 13px;
  margin-bottom: 2px;
 }
}

.post_text{
 display: flex;
 & > div {
  margin-left: 5px;
 }
}

.post_cursor{
  cursor: pointer;
}

.post_center { 
  position: relative;
  width: 614px;
  min-width: 484px;

  .post_center_image{
    width: 100%;
  }

}  

.post_icon {
 display: flex;
 justify-content: space-between;
 margin: 0 10px 0 10px;
}


.post_cmt {
 border-top: 1px solid $instaGray;
}
.post_cmt>input{
 height: 40px;
 width: 90%;
 border: none;
 &:focus{
  outline: none;
 }
}
.footer_icon>img {
 margin-right: 10px;
 margin-top: 5px;
}
.post_content, .post_comment {
 margin-left: 10px;
}

//postGetComment 부분
.post_one_comment{
 display: flex;
 justify-content: space-between;
 margin-left: -10px;
 & > div >span:first-child{
  @include fontSize('large');
  font-weight: bold;
  color: $instaMenuBlack;
  cursor: pointer;
 }
 & > img {
  margin-right: 13px;
  
 }
}


.post_content {
 margin-top: 5px;

 &> div:nth-child(2){
  margin-top: 5px;
  & > span {
   color: $instaMenuGray;
  }
 }
 &> div:nth-child(3){
  color: $instaMenuGray;
  letter-spacing: -0.3px;
  margin: 3px 0 3px 0;

 }
}
.post_cmt{
 display: flex;
}



.post_time{
 @include fontSize('small');
 margin: 5px 0 15px 0;
 color: $instaMenuGray;
}


//댓글에 이모티콘 추가
.react-emoji {
 border-color: #ffffff;
 display: flex;


 &> div:first-child {
  order: 2;
 }
 .react-emoji-picker--container {
  margin-left: -230px;
  opacity: 0.9;
 }

 &> button{
  margin-right: -20px;
 }
}
.comment_submit {
 width: 50px;
 line-height: 50px;
 color: $instaBlue;
 font-weight: 600;
}

.postDetail_postComment {
  margin-bottom: 70px;

  .post_blockCmt{
    margin-bottom: -70px;
    // margin-top: 30px;
    color: $instaMenuGray;
    border-top: 1px solid $instaGray;
    padding: 15px 0;
  }
}

//반응형 사이즈
@include tablet{
 .post_cards{
  width: 500px;
 }
 .react-emoji > .react-emoji-picker--container{
  margin-left: -115px;
 }
 .post_center_image{
  max-width: 498px;
 }
 .profile_img {
  width: 490px;
  height: 60px;

  & > .profile_img_dot{
    margin-right: 0px;
  }
 }
 .post_saveActive {
  margin-left: -146px;
 }
 .post_save{
  margin-left: -146px;
 }
 .post_one_comment{
  margin-right: 110px;
 }

}

@include mobile{
 .post_cards{
  width: 480px;
 }

 .react-emoji > .react-emoji-picker--container{
  margin-left: -103px;
 }
 .post_one_comment > div:nth-child(2){
  margin-left: -220px;
  
 }
 .post_center_image{
  max-width: 480px;
 }
 .profile_img {
  width: 475px;

  & > .profile_img_dot{
    margin-right: 0px;
  }
 }
 .post_saveActive {
  margin-left: -164px;
 }
 .post_save{
  margin-left: -164px;
 }
 .post_one_comment{
  margin-right: 127px;
 }
 .postDetail_postComment{
  display: none;
 }

}