@import "./src/common/mixin";


.recom {
  width: 100%;
  margin-left: 25%;

}

.recommendation {
  display: grid;
  grid-template-columns: repeat(3, minmax(20px, max-content));
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;

.item{
  &>img {
    width: 100%;
    max-width: 300px;
  }
}
}

@include mobile{
  .recom{
    margin: 0;
  }
}
@include tablet{
  .recom{
    margin-left: 10%;
  }
}