@import "../../../common/variables";
@import "../../../common/mixin";

.nav_heart {
  cursor: pointer;
  overflow: visible;
}

.like_menu{
  position: absolute;
  background: #ffffff;
  border: 1px solid $instaGray;
  margin-top: 6px;
  margin-left: -100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 500px;
  width: 530px;
  box-shadow: 2px 2px 8px $instaLightGray;

}

.like_menu:after, .like_menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;

}

.like_menu:after {
  border-color: rgba(213, 213, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: 30px;
}
.like_menu:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: $instaGray;
  border-width: 12px;
  margin-left: 28px;
}
.like_menu > a {
  @include fontSize('large');
  font-weight: bold;
}

.like_today {
  margin: 12px;
  font-weight: bold;

}


.like_cmt {
  height: 500px;
  overflow-y: scroll;
}
.like_oneCmt{
  display: flex;
  margin-bottom: 10px;
  margin-top: 5px;
}

.like_oneCmt > div:last-child {
 margin: 10px auto auto 10px;
  display: flex;
  a {
    color: $instaMenuGray;
    padding-left: 5px;
  }
  .like_cmt_id {
    font-weight: bold;
    color: black;
  }
}

.like_picture{
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: black;
  margin-top: -10px;
  margin-left: 35px;
}
.nav_profile{
  border: 1px solid $instaBlue;
  border-radius: 50px;
}
.nav_profile_img {
  width: 45px;
  padding-left: 15px;
}



.myprofile{
  position: absolute;
  background: #ffffff;
  border: 1px solid $instaGray;
  margin-top: 6px;
  margin-left: 45px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 200px;
  width: 330px;
  box-shadow: 2px 2px 8px $instaLightGray;
  //overflow-y: scroll;

}

.myprofile:after, .myprofile:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;

}

.myprofile:after {
  border-color: rgba(213, 213, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: 30px;
}
.myprofile:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: $instaGray;
  border-width: 12px;
  margin-left: 28px;
}
