@import "../../../common/variables";
@import "../../../common/mixin";



.img {
  overflow: visible;
}

.nav_logo{
  margin-left: 180px;
}

.nav_header {
  width: 100%;
  border-bottom: 1px solid $instaGray;
  color: $instaWhite;
}

.nav{
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  @include fontSize('large');
  background-color: $instaWhite;
  margin-left: 15%;
  margin-right: 18%;
}

.nav_input{
  width: 215px;
  height: 25px;
  margin-left: 180px;
  margin-right: 20px;
  align-items: center;
  display: flex;
  border: 1px solid $instaLightGray;

  &:hover > label{
    display: none;
  }
  &>input{
    width: 180px;
    height: 20px;
    border: none;
    &:focus{
      outline:none;
    }
  }
}

.nav_icon{
  background-color: $instaWhite;
  display: flex;

  & > img {
      margin-left: 17px;
      width: 27px;
      background-color: $instaWhite;
    }
}

@include desktop{
  .nav_header{
    background-color: $instaWhite;
  }
  .nav_icon{
    margin-right: 100px;
  }
}

@include tablet{
  .nav_header{
    background-color: $instaWhite;
  }
  .nav_logo{
    margin-left: -70px
  }
  .nav_icon{
    margin-left: -50px;
  }
}

@include mobile {
  .nav_logo{
    margin-left: -70px
  }
  .nav_input{
    display: none;
  }
  .nav_header{
    background-color: $instaWhite;
  }
}
