@import "../../../common/variables";
@import "../../../common/mixin";

//header css
.nav_logo {
  margin-left: 8vw;
}

.nav_header {
  border-bottom: 1px solid $instaGray;
  color: $instaWhite;
}

.nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  @include fontSize('large');
  background-color: $instaWhite;
  margin-left: 15%;
  margin-right: 15%;
}

.nav_input {
  width: 270px;
  height: 35px;
  margin-left: 150px;
  margin-right: 20px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: none;
  background-color: #efefef;
}


//nav_input안에 HeaderSearch
.header_search {

  .search_icon {
    position: absolute;
    margin-left: 10px;
  }

  & > input {
    width: 200px;
    margin-left: 20px;
    border: none;
    height: 25px;
    background-color: #efefef;
    outline: none;
    &::placeholder{
      padding-left: 25px;
      font-size: 16px;
      color: $instaMenuGray;
    }
    &:focus{
      &::placeholder{
        padding-left: 0;
      }
    }
  }


  .active_input {
    border: none;
    border-radius: 5px;
    background: $instaWhite;
    width: 380px;
    height: 360px;
    color: black;
    z-index: 100;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    margin-top: 10px;

    & > div {
      overflow: auto;
      overflow-x: hidden;
    }

    &:after, &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(213, 213, 213, 0);
      border-bottom-color: #ffffff;
      border-width: 10px;
      margin-left: -100px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: $instaGray;
      border-width: 12px;
      margin-left: -102px;
    }
  }

}

.nav_icon {
  background-color: $instaWhite;
  display: flex;

  & > img {
    margin-left: 17px;
    width: 27px;
    background-color: $instaWhite;
  }
}


//header_search_card
.header_search_user {
  overflow: auto;
  display: flex;
  margin: 10px;

  & > img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  & > div {
    margin-left: 10px;

    //카드 유저 이름
    & > a:first-child {
      font-weight: 600;
    }

    & > a:nth-child(2) {
      color: $instaMenuGray;
    }
  }
}

//해쉬태그 카드
.header_search_hash {
  display: flex;
  margin: 10px;

  & > div:nth-child(2) {
    margin: 3px 0 0 8px;

    & > a:first-child {
      font-weight: 600;
    }

    & > a:nth-child(2) {
      color: $instaMenuGray;
    }
  }
}


@include desktop {
  .nav_header {
    background-color: $instaWhite;
  }
}

@include tablet {
  .nav_header {
    background-color: $instaWhite;
  }
  .nav_logo {
    margin-left: -10vw;
  }
  .nav_icon {
  }
}

@include mobile {
  .nav_logo {
    margin-left: -70px
  }
  .nav_icon {
    margin-right: -10px;
  }
  .nav_input {
    display: none;
  }
  .nav_header {
    background-color: $instaWhite;
  }
}
