@import "../../common/mixin";

.Main {
  display: grid;
  grid-template-columns: repeat(2, 60% 40%);
}

.Main_post {
  margin-left: 41.5%;
}

@include desktop{

}
@include tablet{
  .Main_side {
    display: none;
  }
}

@include mobile {
  .Main_post{
    width: 100%;
    margin: 0;
  }
  .Main_side {
    display: none;
  }
}