@import "../../../common/variables";
@import "../../../common/mixin";
@import "../../../common/cardStyle";


  .post_modal {
    width: 400px;
    height: 335px;
    border: 1px solid $instaGray;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    z-index: 1100;
    background: $instaWhite;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    & > div {
      border-bottom: 1px solid $instaGray;
      height: 47px;
      text-align: center;
      line-height: 47px;
      @include fontSize('large');
      color: $instaMenuBlack;
      z-index: 1100;
    }

    & > div:first-child, & > div:nth-child(2) {
      color: $instaRed;
      font-weight: bold;
    }

    & > div:last-child {
      border: none;
    }
  }

  .post_modal_myId {
    width: 400px;
    height: 144px;
    border: 1px solid $instaGray;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    z-index: 100;
    background: $instaWhite;
    cursor: pointer;
    position: fixed;

    & > div {
      border-bottom: 1px solid $instaGray;
      height: 47px;
      text-align: center;
      line-height: 47px;
      @include fontSize('large');
      color: $instaMenuBlack;
      z-index: 100;
    }

    & > div:first-child {
      color: $instaRed;
      font-weight: bold;
    }

    & > div:last-child {
      border: none;
    }
  }

.like_list_container {
  width: 400px;
  height: 335px;
  border: 1px solid $instaGray;
  border-radius: 15px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  background: $instaWhite;
}

.postModal_overlay {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

@include tablet {
}

@include mobile {
  .post_modal_container {
  .post_modal {
    transform: translateX(-1%) translateY(+110%);
  }
}
}
