@import "../../../common/variables";
@import "../../../common/mixin";


.postBoard_allContainer{
	overflow: hidden;
	background-color: $backgroundGray;
	width: 99vw;
	height: 94vh;
	// margin: auto;
}

	.postBoard_topContainer {
		display: flex;
		margin: 50px auto auto auto ;
		width: 100%;
		height: 48vh;
		justify-content: center;
		margin-bottom: 50px;

		.postBoard_header.mobileBox {
			display: none;
			.postBoard_header.mobile {
				display: none;
			}
		}
		
		

		.postBoard_leftsideBox {
			width: 600px;
			height: 100%;
			border: 1px solid $instaLightGray;
			border-right: none;

				& > img {
					object-fit: contain;
					height: 100%;
					width: 100%;
				}
			}

		.postBoard_rightsideBox {
			width: 335px;
			height: 100%;
			background-color: $instaWhite;
			border: 1px solid $instaLightGray;
			
			
			.postBoard_header {
				display: flex;
				width: 100%;
				height: 50px;
				padding: 10px 0 0 0;
				margin-bottom: 10px;
				border-bottom: 1px solid $instaGray;
				
				.postBoard_header_pic {
					display: flex;
					margin-left: 14px;

					& > img {
						// margin: auto;
						margin: auto 0;
						cursor: pointer;
						width: 32px;
						height: 32px;
					}
				}

				.postBoard_header_userId {
					justify-content: space-between;
					width: 88%;
					line-height: 35px;
					margin-left: 5px;

					& > span {
						@include fontSize("large");
						font-weight: bold;
						cursor: pointer;
					}
				}
				.postBoard_header_btn {
					margin-top: 2%;
					height: 50%;
					width: 15%;
					text-align: center;
					cursor: pointer;
				}				
			}

			.postBoard_main {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 89%;

				.postBoard_comment_list{
					height: 100%;
					overflow-x: hidden;
					position: relative;
					-ms-overflow-style: none;
					scrollbar-width:none;
				}

				.postBoard_comment_list::-webkit-scrollbar {
					display:none; /* Chrome , Safari , Opera */
				}
			}
		}
	}

	.postBoard_bottomContainer {

		& > div:nth-child(1) {
			border: 1px solid $instaGray;
			width: 938px;
			margin: auto;
		}

		& > div:last-child {
			width: 938px;
			margin: 50px auto;

			& > div:first-child {
				margin-bottom: 20px;
				color: $instaMenuGray;
				font-weight: bold;
				@include fontSize("large");

				& > span{
					color: $instaMenuBlack;
				}
			}
			
			.postBoard_postRec {
					display: grid;
					// position: absolute;
					grid-template-columns: repeat(3, 1fr);
					// margin: -50px auto;
					gap: 25px;
			}
		}
	}

	//반응형 사이즈

@include tablet {
	.postBoard_topContainer {
		width: 95vw;
		height: 40vh;

		.postBoard_leftsideBox {
			width: 60%;
			height: 100%;
		}
		.postBoard_rightsideBox {
			width: 40%;
			height: 100%;
		}
	}
}

@include mobile {

	.postBoard_allContainer{
		width: 99vw;
		height: 94vh;
	}

	.postBoard_topContainer {
		width: 99vw;
		height: 30vh;
		flex-direction: column;

		.postBoard_header.mobileBox {
			display: block;
			.postBoard_header.mobile {
				display: flex;
				margin-top: 15px;
				.postBoard_header_pic {
					display: flex;
					margin-left: 10px;
	
					& > img {
						// margin: auto;
						margin: auto 0;
						cursor: pointer;
						width: 32px;
						height: 32px;
					}
				}
	
				.postBoard_header_userId {
					justify-content: space-between;
					width: 88%;
					line-height: 35px;
					margin-left: 5px;
	
					& > span {
						@include fontSize("large");
						font-weight: bold;
						cursor: pointer;
					}
				}
				.postBoard_header_btn {
					margin-top: 2%;
					height: 50%;
					width: 16%;
					text-align: center;
					cursor: pointer;
				}			
			}
		}
		

		.postBoard_leftsideBox {
			flex: 1;
			width: 100%;
			height: 100%;
			border: none;
			margin-top: 10px;

			& > img {
				object-fit: cover;
			}
		}
		.postBoard_rightsideBox {
			border: none;
			width: 95%;
			margin-bottom: 10px;

			.postBoard_header{
				display: none;
			}
			.postBoard_main{
				background: $backgroundGray;
				padding-bottom: 15px;
				.postBoard_comment_list{
					display: none;
				}
			}
		}
	}

	.postBoard_bottomContainer{
		margin-top: 100px;

		& > div:nth-child(2) {
			margin-left: 10px;
		}
	}

	.postDetail_comment_Bookmarkfunc {
		// margin-left: auto;
		height: 100%;
		width: 10%;
	}
}