@import "../../../common/variables";
@import "../../../common/mixin";


//EditUser style
.edit_profile {
  width: 230px;
  border-right: 1px solid $instaGray;
}

.edit_menu {
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  cursor: pointer;

  &:hover{
    border-left: 2px solid $instaGray;
    background: $backgroundGray;
  }
}

.edit_menu_active {
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  cursor: pointer;
  border-left: 2px solid $instaMenuBlack;
  font-weight: 600;
}


//프로필편집
.editProfile{
  border: 1px solid blue;
  margin-left: -100px;
  .edit_user_info{
    display: flex;
    margin-top: 15px;
    & > img {
      width: 35px;
      height: 35px;
      margin: 3px 15px 0 15px;
    }
    & > div> div:first-child {
      font-size: 20px;
      margin-top: -5px;
    }
    & > div> div:last-child {
      color: $instaBlue;
      @include fontSize('large');
      font-weight: 600;
      margin-top: -5px;
    }
  }
}