@import "./src/common/color.scss";

body {
	background-color: #fafafa;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.main {
	display: flex;
	margin: auto;
	justify-content: center;
	text-align: center;
	height: 85vh;
}

.center {
	width: 388px;
	margin: auto 0px auto 0px;
}

.login {
	width: 388px;
	height: 522px;
	border: 1px solid $instaGray;
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 10px;
}

.title > div {
	color: #8e8e8e;
	font-weight: 400;
	font-size: 14px;
	margin: 0px 20px 10px 20px;
}

.login > form > input {
	width: 290px;
	height: 36px;
	margin: 3px;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid $instaLightGray;
	color: #8e8e8e;
	outline: none;
	font-size: 12px;
}

.login > form > input:focus {
	padding: 0px 0px 14px 8px;
	height: 22px;
}

.login > form > button {
	width: 300px;
	height: 30px;
	margin-top: 10px;
	color: #ffffff;
	background-color: $instaBlue;
	border: transparent;
	border-radius: 5px;
	font-weight: bold;
}

.bar {
	display: flex;
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 600;
	color: #8e8e8e;
}

.bar > .left {
	width: 110px;
	background-color: $instaGray;
	height: 0.1px;
	margin: 10px 10px 10px 40px;
}

.bar > .right {
	width: 110px;
	background-color: $instaGray;
	height: 0.1px;
	margin: 10px 40px 10px 10px;
}

.newAccount {
	font-weight: bold;
	color: blue;
}

.backToLogin {
	width: 388px;
	height: 44px;
	border: 1px solid $instaGray;
	background-color: #fafafa;
	font-size: 14px;
	color: #262626;
	line-height: 63px;
}

.backToLogin > span {
	color: #262626;
	font-weight: 600;
	cursor: pointer;
}
