@import "./src/common/color.scss";

@mixin fontSize($size) {
	@if $size == "small" {
		font-size: 10px;
	} @else if $size == "large" {
		font-size: 14px;
	} @else {
		font-size: 12px;
	}
}

.all {
	display: flex;
	margin: auto;
	justify-content: center;
	text-align: center;
}

.side_img {
	justify-content: space-around;
	width: 455px;
	height: 620px;
	border: 1px solid black;
	align-items: center;
	@include fontSize("large");
}

.side_img > img {
	width: 455px;
	height: 620px;
}

.main {
	width: 350px;
	border: 1px solid red;
}

.login {
	width: 350px;
	height: 381px;
	border: 1px solid blue;
	margin-top: 30px;
	margin-bottom: 10px;
}

.login > img {
	width: 175px;
	height: 51px;
	margin: 25px;
}

.login > form > input {
	width: 258px;
	height: 36px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid $instaLightGray;
}

.login > form > button {
	width: 268px;
	height: 36px;
	margin-top: 10px;
	color: #ffffff;
	background-color: $instaBlue;
	border: transparent;
	border-radius: 5px;
}

.bar {
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
}

.bar > .left {
	width: 105px;
	background-color: $instaLightGray;
	height: 0.5px;
	margin: 10px 10px 10px 40px;
}

.bar > .right {
	width: 105px;
	background-color: $instaLightGray;
	height: 0.5px;
	margin: 10px 40px 10px 10px;
}

.login > button {
	text-align: center;
	background-color: transparent;
	border: transparent;
	margin-top: 15px;
}

.fb {
	color: $instaBlue;
	font-weight: bold;
}

.signup {
	width: 350px;
	height: 63px;
	border: 1px solid green;
}

.signup > span {
	color: $instaBlue;
	font-weight: bold;
}

.download {
	width: 350px;
	height: 100px;
	border: 1px solid violet;
}

.download > img {
	width: 136px;
	height: 40px;
	margin-left: 5px;
}
