@import "./src/common/variables";
@import "./src/common/mixin";

.postDetail_content_all {
	margin: auto;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;

	.postDetail_content {
		display: flex;
		height: 100%;
		width: 100%;
		pointer-events: auto;
		padding: 24px 64px;
		align-items: center;

		.postDetail_Box {
			display: flex;
			align-items: center;
			margin: auto;
			width: 100%;
			height: 60vh;

			.postDetail_imgBox {
				display: flex;
				width: 50%;
				height: 100%;
				background-color: black;

				.postDetail_img {
					margin: auto;
					width: 100%;
					height: 98%;
					border: 1px solid gray;
				}
			}

			.postDetail_commentBox {
				display: flex;
				width: 50%;
				height: 100%;
				border: 1px solid orange;
			}
		}
	}
}
