@import "./src/common/variables";
@import "./src/common/mixin";

.post_cards{
 width: 100%;
 display: flex;
}

.post_card{
 border: 1px solid $instaGray;
 width: 32vw;
 min-width: 490px;
 display: flex;
}

.profile_img {
 display: flex;
 & > img{
  width: 28px;
  margin: 10px;
 }
 & > div {
  margin-top: 15px;
  @include fontSize('large');
  font-weight: bold;
  color: $instaMenuBlack;
 }
}
.profile_img_dot{
 cursor: pointer;
 margin-left: 75%
}

.profile_img_dot >img {
 width: 13px;

 margin-bottom: 2px;
}

.profile_center > img{
 width: 100%;
 margin-left: -1px;
 min-width: 490px;
}

.post_icon {
 display: flex;
 justify-content: space-between;
 margin: 0 10px 0 10px;
}

.post_cmt {
 border-top: 1px solid $instaGray;
}
.post_cmt>input{
 height: 40px;
 width: 90%;
 border: none;
 &:focus{
  outline: none;
 }
}
.footer_icon>img {
 margin-right: 10px;
 margin-top: 5px;
}