@import "./src/common/variables";
@import "./src/common/mixin";

.home_story{
  border: 1px solid $instaGray;
  width: 32vw;
  margin: 30px 0 20px 0;
  min-width: 490px;
  background: $instaWhite;
}

 .follow_story{
   display: flex;
 }

.story{
  margin: 10px;
  & > div > img {
    width: 50px;
    margin-left: 3px;
  }

}
.story_name{
  @include fontSize('normal');
  color: $instaMenuGray;
}