//팔로우, 팔로워 컨테이너
.modal_common_container {
  width: 405px;
  height: 405px;
  background: $instaWhite;
  border-radius: 15px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
  margin : 50px;
  

  .modal_common_header {
    font-weight: 600;
    border-bottom:  1px solid $instaGray;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: flex-end;


    & > span:first-child{
      margin-right: 140px;
    }
    & > span:nth-child(2) {
      margin-right: 15px;
      margin-top: 7px;
      cursor: pointer;
    }
  }
  .modal_content{

  }
}

.modal_postdetail_container {
  width: 405px;
  height: 405px;
  background: $instaWhite;
  border-radius: 15px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 4000;
  margin-right: 300px;

  .modal_common_header {
    font-weight: 600;
    border-bottom:  1px solid $instaGray;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: flex-end;

    & > span:first-child{
      margin-right: 140px;
    }
    & > span:nth-child(2) {
      margin-right: 15px;
      margin-top: 7px;
      cursor: pointer;
    }
  }
}


//팔로우 취소 모달
.small_modal {
  width: 400px;
  height: 315px;
  background: $instaWhite;
  border-radius: 15px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
  margin : 50px;

  .modal_common_header{
    text-align: center;
    margin-top: 20px;
    & > img {
      width: 100px;
      height: 100px;

    }
  }
}



.overlay {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;

}

