@import "../../../common/variables";
@import "../../../common/mixin";

.all_content {
	background-color: #fafafa;
}

.signup_main {
	background-color: #fafafa;
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;
	margin: auto;
	justify-content: center;
	text-align: center;
	height: 85vh;
}

.signup_content {
	width: 350px;
	margin: auto 0 auto 0;
}

.signup_signup {
	width: 350px;
	height: 489px;
	border: 1px solid $instaGray;
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 10px;

	& > img {
		width: 175px;
		height: 65px;
		margin: 20px 20px 10px 20px;
	}
}

.signup_header {
	color: #8e8e8e;
	font-weight: 600;
	font-size: 17px;
	margin: 0px 40px 15px 40px;
}

.signup_fb > button {
	width: 271px;
	height: 31px;
	color: #ffffff;
	background-color: $instaBlue;
	border: transparent;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;

	& > img {
		width: 16px;
		height: 16px;
	}

	& > a {
		color: #ffffff;
		margin-left: 5px;
		@include fontSize("large");
		font-weight: 600;
		outline: none;
	}
}

.signup_bar {
	display: flex;
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 600;
	color: #8e8e8e;

	.left {
		width: 110px;
		background-color: $instaGray;
		height: 0.1px;
		margin: 10px 10px 20px 40px;
	}

	.right {
		width: 110px;
		background-color: $instaGray;
		height: 0.1px;
		margin: 10px 40px 10px 10px;
	}
}

.signup_content_form {
	display: flex;
	width: 258px;
	height: 36px;
	margin: auto auto 5px auto;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid $instaLightGray;
	color: #8e8e8e;
	outline: none;
	@include fontSize("normal");

	& > input {
		@include fontSize("normal");
		height: 14px;
		width: 220px;
		padding: 10px 0 0 8px;
		margin: 8px 0 0 2px;
		border: none;
		outline: none;
		background-color: #fafafa;
	}

	.signup_pwd {
		@include fontSize("normal");
		height: 14px;
		width: 120px;
		padding: 10px 0 0 8px;
		margin: 8px 0 0 2px;
		border: none;
		outline: none;
		background-color: #fafafa;
	}

	& > label {
		display: flex;
		justify-content: space-between;
		@include fontSize("small");
		position: absolute;
		width: 180px;
		height: 36px;
		pointer-events: none;
		// overflow: hidden;
	}

	// & > label::after {
	// 	content: "";
	// 	position: absolute;
	// 	left: 0px;
	// 	bottom: -1px;
	// 	height: 100%;
	// 	width: 100%;
	// 	border-bottom: 3px solid blue;
	// 	transition: all 0.3s ease;
	// 	transform: translateX(-100%);
	// }

	.signup_label_name {
		@include fontSize("normal");
		left: 10px;
		position: absolute;
		bottom: 12px;
		@include fontSize("normal");
		// transition: all 0.3s ease;
	}

	.signup_check_box {
		display: flex;
		height: 30px;
		width: 30px;
		line-height: 45px;
		margin-top: 5px;
	}

	.signup_check_box_userId {
		display: flex;
		box-sizing: border-box;
		width: 80px;
		height: 30px;
		line-height: 40px;
		margin-top: 5px;
	}

	.signup_check_box_pwd {
		display: flex;
		width: 160px;
		height: 30px;
		line-height: 40px;
		& div {
			width: 100px;
		}
	}

	.signup_check {
		width: auto;
		right: 0px;
		margin-right: 10px;
		height: 22px;
	}

	.signup_check_pwd {
		right: 0px;
		margin-right: 5px;
		height: 22px;
		margin-top: 6px;
	}

	.signup_check_btn_userId {
		background-color: #fafafa;
		border: none;
		height: 22px;
	}

	.signup_pwd_check {
		@include fontSize("large");
		border: none;
		background-color: #fafafa;
		font-weight: bold;
		text-align: center;
		width: auto;
		cursor: pointer;
	}
}

.signup_content_form input:focus + .signup_label .signup_label_name {
	transform: translateY(-45%);
	@include fontSize("small");
}

// .signup_content_form input:focus + .signup_label_email::after,
// .signup_content_form input:valid + .signup_label_email::after {
// 	transform: translateX(0%);
// }

.signup_btn_active {
	width: 271px;
	height: 30px;
	margin-top: 10px;
	color: #ffffff;
	background-color: $instaBlue;
	border: transparent;
	border-radius: 5px;
	font-weight: bold;
}

.signup_btn_disabled {
	width: 271px;
	height: 30px;
	margin-top: 10px;
	color: #ffffff;
	background-color: #b2dffc;
	border: transparent;
	border-radius: 5px;
	font-weight: bold;
}

.signup_login {
	width: 350px;
	height: 63px;
	border: 1px solid $instaGray;
	background-color: #ffffff;
	@include fontSize("large");
	color: #262626;
	line-height: 63px;

	.link > span {
		color: $instaBlue;
		font-weight: 400;
		cursor: pointer;
	}
}

.signup_download {
	width: 350px;
	height: 100px;

	& > span > a > img {
		width: 136px;
		height: 40px;
		margin-left: 10px;
		cursor: pointer;
	}

	& > p {
		@include fontSize("large");
		color: #262626;
		margin: 20px 0px 20px 0px;
	}
}
